/* все цвета страницы студия
.header-back: #ECECEC
.link-collor: 2196F3
.back-hero: 2F303A
.primary-text-color:757575, 100 %
.white-text-collor:FFFFFF, 100 %
.h-collor:212121, 100 %
 .body-back: #E5E5E5

 */
body {
  font-family: 'Roboto', sans-serif;
}

/* css-переменные. */
:root {
  --primary-text-color: #757575;
  --footer-back: #2f303a;
  --white-text-collor: #ffffff;
  --h-collor: #212121;
  --link-collor: #2196f3;
  --header-back: #ececec;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid green;
}

.link {
  outline: none;
}

.site-nav .item:last-child {
  margin-right: 0px;
}

.link-blue {
  color: var(--link-collor);
}

.link-black {
  color: #000000;
}

/*  Хедер сайта */
.header-back {
  background-color: var(--header-back);
}

.header-nav {
  display: flex;
  align-items: center;
}

/*  логотип */

.linc-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

/* навигация по сайту */

.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .item {
  outline: 1px solid greenyellow;
}

.site-nav-link {
  color: var(--h-collor);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--link-collor);
}

.site-nav-link-current {
  color: var(--link-collor);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

/* навигация мейл и телефон */

.nav-link,
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-links :hover,
.nav-links :focus {
  color: var(--link-collor);
}

.nav-links {
  display: flex;
  margin-left: auto;
}

.nav-links .item {
  outline: 1px solid green;
}

.nav-links .item + .item {
  margin-left: 50px;
}

/*  Hero сайта Студия*/
.hero {
  background-color: var(--footer-back);
  outline: 2px solid green;
}

.hero-section {
  text-align: center;
}

.hero-title {
  padding-top: 200px;
  margin-bottom: 30px;

  outline: 1px solid green;
  text-align: center;
  color: var(--white-text-collor);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* кнопка заказа услуг */

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  margin-bottom: 200px;
  background-color: var(--link-collor);
  color: var(--white-text-collor);
}

/*  наши преимущества */
.benefit-item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.benefit-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--h-collor);
}

/*  то что мы делаем студия */
.work-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

/*  о нашей команде */
.name {
  color: var(--h-collor);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.profession {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

/* Подвал сайта */
.footer-back {
  background-color: var(--footer-back);
}

.footer-logo-blue {
  color: var(--link-collor);
}

.map-address {
  color: var(--white-text-collor);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.footer-logo-white {
  color: var(--white-text-collor);
}

/* кнопки в портфолио */
.main-button {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

/*  портфолио проекты */

.progects-name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: var(--h-collor);
}

.progects {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-text-color);
}

.frame {
  outline: 2px solid green;
}

/*  контейнер для стилизации hero
 */
.hero-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/*display: flex
  flex-wrap: wrap */

/* общий контейнер для стилизации */
